<!-- app.ejs
render one application provided in app
-->
<h2><%= app.name %></h2>
<div id=app<%= app.id %>>
<ul>
	<li>State: <span class=state><%= app.state || '' %></span></li>
	<li>Up since: <span class=upsince><%= dateString(app.lastLaunch) %></span></li>
	<li>Crash count: <span class=crashes><%= app.crashCount || 0 %></span></li>
	<li>Last crash: <span class=lastcrash><%= dateString(app.lastCrash) %></span></li>
	<li>Last exit code: <span class=exit><%= app.exitCode != null ? app.exitCode : '?' %></span></li>
	<li>Pid: <span class=pid><%= app.pid || '' %></span></li>
	<li>Watchers: <span class=watchers><%= app.watchers || '' %></span></li>
</ul>
<!-- we can't show/hide until buttons on the page, so assume state off -->
<button class='control dodebug'
<% if (app.state == 'debug') { %>style=display:none<% } %>
>Debug</button>

<button class='control donodebug'
<% if (app.state != 'debug') { %>style=display:none<% } %>
>No Debug</button>

<button class='control dorun'
<% if (app.state != 'stop') { %>style=display:none<% } %>
>Start</button>

<button class='control dorestart'
<% if (app.state == 'stop') { %>style=display:none<% } %>
>Restart</button>

<button class='control dostop'
<% if (app.state == 'stop') { %>style=display:none<% } %>
>Stop</button>
</div>
