<!-- app.ejs
render one application provided in app
-->
<div class=anapp id=app<%= app.id %>>
	<h2><%= app.name %>:&emsp;
		<span class=state><%= app.state || '' %></span>&emsp;
		<span class=upsince><%= dateString(app.lastLaunch) %></span>
	</h2>
	<div class=appcolumn>
		<!-- we cant show/hide until buttons on the page, so assume state off -->
		<div>
		<button class='control dorestart'
		<% if (app.state == 'stop') { %>style=display:none<% } %>
		>Restart</button>
		</div>

		<div>
		<button class='control dodebug'
		<% if (app.state == 'debug') { %>style=display:none<% } %>
		>Debug</button></div>

		<div>
		<button class='control donodebug'
		<% if (app.state != 'debug') { %>style=display:none<% } %>
		>No Debug</button>
		</div>

		<div>
		<button class='control dorun'
		<% if (app.state != 'stop') { %>style=display:none<% } %>
		>Start</button>
		</div>

		<div>
		<button class='control dostop'
		<% if (app.state == 'stop') { %>style=display:none<% } %>
		>Stop</button>
		</div>
	</div>
	<div class=appcolumn>
		<ul>
			<li>Url: <a class=urlhref target=_blank href="<%= app.url %>"><span class=url><%= app.url ? app.url : '' %></span></a></li>
			<li>Last exit code: <span class=exit><%= app.exitCode != null ? app.exitCode : '?' %></span>&emsp;<span class=lastcrash><%= dateString(app.lastCrash) %></span></li>
			<li>Crash count: <span class=crashes><%= app.crashCount %></span></li>
			<li>Pid: <span class=pid><%= app.pid %></span>&emsp;
			Watchers: <span class=watchers><%= app.watchCount || '' %></span></li>
			<li>Port: <span class=port><%= app.port || '' %></span></li>
		</ul>
	</div>
</div>